@use './variables' as *;
// light mode
body {
    background-color: $very-light-gray;
    color: $light-grayish-blue;
    a {
        &:active,
        &.active {
            color: $bright-blue !important;
        }
        &:not(.active),
        &:not(:active) {
            color: $dark-grayish-blue;
            &:hover {
                color: $very-dark-grayish-blue;
            }
            // font-weight: $fw-700;
        }
    }
    input {
        color: $very-dark-grayish-blue;
    }
    header {
        //
        background-image: url('/images/bg-desktop-light.jpg');
        color: $white;
        
        #theme-cog {
            background-image: url('/images/icon-moon.svg');
        }
    }
    .task {
        background-color: $white;
        & .checker {
            border-color: $light-grayish-blue;
            ;
        }
    }
    .task-items {
        background-color: $white;
        box-shadow: $shadow;
    }
    .task__group {
        .task {
            border-color: $very-light-grayish-blue;

            &.loading {
                p {
                    background: $very-light-grayish-blue;
                    background: linear-gradient(110deg,
                            darken($very-light-gray, 10%) 8%,
                            $light-grayish-blue 33%);
                        background-size: 200% 100%;
                }
            }

            p {
                color: $very-dark-grayish-blue;
            }
            &[data-completed="true"] {
                p {
                    color: $light-grayish-blue;
                }
            }
        }
    }

    button {
        border-color: $very-dark-grayish-blue--dark-mode;

        background-color: darken($very-dark-grayish-blue, 5%);
        color: $very-light-gray;

        &:hover {
            background-color: $very-dark-grayish-blue;
        }
    }

    section.authentication {

        background-color: hsl(236, 9%, 61%, .7);

        .authentication__content {

            background-color: $very-light-gray;
            border-color: $light-grayish-blue;
            color: $very-dark-grayish-blue;

            #closeModal {
                color: $dark-grayish-blue;
            }
        }
    }

    .form_group {

        background-color: $very-light-grayish-blue;
    }
}

// dark mode
body[data-theme="dark"] {
    background-color: $very-dark-gray;
    color: $light-grayish-blue--dark-mode;
    a {
        &:not(.active),
        &:not(:active) {
            color: $dark-grayish-blue--dark-mode;
            &:hover {
                color: $light-grayish-blue-hover--dark-mode;
            }
            // font-weight: $fw-700;
        }
    }
    header {
        background-image: url('/images/bg-desktop-dark.jpg');
        color: $white;
        #theme-cog {
            background-image: url('/images/icon-sun.svg');
        }
    }

    button {
        border-color: $very-dark-grayish-blue-alt--dark-mode;

        background-color: $very-dark-grayish-blue-alt--dark-mode;

        color: inherit;

        &:hover {
            background-color: $very-dark-grayish-blue--dark-mode;
        }
    }

    .task {
        background-color: $very-dark-desaturated-blue;
        border-color: $very-dark-grayish-blue--dark-mode;
        color: $light-grayish-blue--dark-mode;

        &.loading {
            p {
                background: $very-dark-grayish-blue;
                background: linear-gradient(110deg,
                        lighten($very-dark-grayish-blue-alt--dark-mode, 7%) 8%,
                        $very-dark-grayish-blue--dark-mode 33%);
                background-size: 200% 100%;
            }
        }

        & .checker {
            border-color: $very-dark-grayish-blue-alt--dark-mode;
        }
        
        p {
            color: inherit;
        }
        &[data-completed="true"] {
            p {
                color: $dark-grayish-blue--dark-mode;
            }
        }
    }
    input {
        color: inherit;
    }
    .task-items {
        background-color: $very-dark-desaturated-blue;
    }
    .task__actions {
        color: $dark-grayish-blue--dark-mode;
    }

    footer {
        color: $dark-grayish-blue--dark-mode;
    }

    section.authentication {

        background-color: hsl(235, 24%, 19%, .7);

        .authentication__content {

            background-color: $very-dark-gray;
            border-color: $very-dark-grayish-blue--dark-mode;
            color: $light-grayish-blue--dark-mode;

            #closeModal {
                color: $dark-grayish-blue;
            }
        }
    }

    .form_group {
        
        background-color: $very-dark-desaturated-blue;
    }
}

//
@media (max-width:$mobile--breakpoint) {
    body[data-theme="dark"] {
        header {
            background-image: url('/images/bg-mobile-dark.jpg');
            background-size: auto;
        }
    }
    body {
        header {
            background-image: url('/images/bg-mobile-light.jpg');
            background-size: auto;
        }
    }
}